@import '~styles/theme.scss';

.session-list {
    box-sizing: content-box;
    width: 290px;
    overflow: auto;
    border-right: 1px solid $line-frame-gray;
    user-select: none;

    &::-webkit-scrollbar {
        width: 8px;

        &-thumb {
            background-color: rgb(221, 223, 225);
            border-radius: 5px;

            &:hover {
                background-color: rgb(187, 191, 196);
            }
        }
    }

    .session-item {
        display: flex;
        align-items: center;
        height: 60px;
        cursor: pointer;

        &-current {
            background-color: rgb(239, 240, 241);
            border-left: 3px solid $primary-color;
        }

        &:hover {
            background-color: rgb(222, 224, 227);
            transition: background-color 0.3s ease-in-out;
        }

        .avatar {
            margin: 0 10px;
        }

        .item-right {
            display: flex;
            flex-direction: column;

            .name {
                color: black;
            }

            .digest {
                color: gray;
                font-size: 12px;
            }
        }
    }
}
