{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb", "airbnb/hooks", "plugin:@typescript-eslint/recommended", "prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx", ".js", ".json"]
            },
            "typescript": {
                "directory": ["scripts/tsconfig.json", "src/main/tsconfig.json", "src/renderer/tsconfig.json"]
            }
        }
    },
    "rules": {
        "import/extensions": "off",

        "react/prop-types": "off",

        "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx", ".json", ".js"] }],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-props-no-spreading": "off",

        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-useless-constructor": "error",

        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/no-static-element-interactions": "off",

        "func-names": "off",
        "no-console": "off",
        "no-empty": "warn",
        "no-param-reassign": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "warn",
        "no-useless-constructor": "off",
        "lines-between-class-members": "off"
    },
    "overrides": [
        {
            "files": ["**/*.d.ts"],
            "rules": {
                "max-classes-per-file": "off",
                "import/no-duplicates": "off"
            }
        },
        {
            "files": ["scripts/**/*.{ts,js}"],
            "rules": {
                "import/no-extraneous-dependencies": "off"
            }
        },
        {
            "files": ["scripts/**/*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}
