.register {
    text-align: center;

    .title {
        display: inline-block;
        margin: 120px auto 0;
        font-weight: bold;
        font-size: 24px;
    }

    #register-form {
        max-width: 300px;
        margin: 20px auto 0;
        text-align: center;
    }
}
