@import '~styles/theme.scss';

.message-input-container {
    display: flex;
    align-items: center;
    min-height: 45px;
    margin: 0 20px;
    border: 1px solid $line-frame-gray;
    border-radius: 4px;

    .message-input {
        overflow: auto;
        border: none;
        box-shadow: none;
        resize: none;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .media-icons {
        width: 40px;
        font-size: 16px;
    }
}
