@import '~styles/theme.scss';

.navbar {
    display: flex;
    flex-basis: 60px;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgb(83, 96, 128), rgb(47, 56, 78));

    .navbar-avatar-link {
        margin: 20px 0 30px;

        .avatar-wrapper {
            border: 2px solid white;
            border-radius: 50%;
        }
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 46px;
        cursor: pointer;

        .icon-font {
            color: rgb(142, 149, 166);
            font-size: 24px;

            &:hover {
                color: white;
            }
        }

        &-activated {
            background-color: $primary-color;

            .icon-font {
                color: white;
            }
        }
    }
}
