@import '~styles/theme.scss';

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    min-width: 60px;
    height: 100vh;
    background-image: linear-gradient(185deg, #536080, #2e374d);

    .navbar-avatar-link {
        margin: 20px 0 30px;

        .avatar-wrapper {
            border: 2px solid white;
            border-radius: 50%;
        }
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 46px;
        cursor: pointer;

        .icon-font {
            color: rgb(142, 149, 166);
            font-size: 24px;

            &:hover {
                color: white;
            }
        }

        &-active {
            background-image: linear-gradient(270deg, #4e83fd, $primary-color);

            .icon-font {
                color: white;
            }
        }
    }
}
