@import '~styles/theme.scss';

.profile-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .title {
        margin-top: 40px;
    }

    .profile-form {
        width: -webkit-fill-available;
        max-width: 400px;
        margin-top: 60px;

        .avatar-container {
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-bottom: 30px;

            .avatar {
                position: absolute;
            }

            .edit-overlay {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: rgba(34, 34, 34, 0.2);
                border-radius: 50%;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }

                .pen {
                    color: $primary-color;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }

        .save-btn {
            display: block;
            margin: 0 auto;
        }
    }
}

.profile-modal {
    .modal-title {
        text-align: center;

        .title {
            font-weight: bold;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: center;

        button:not(:last-child) {
            margin-right: 20px;
        }
    }
}
