.profile-page {
    display: flex;
    width: 100vw;

    .profile {
        display: flex;
        flex: 1;
        justify-content: center;

        &-avatar {
            margin-top: 40px;
        }
    }
}
