.profile-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .title {
        margin-top: 40px;
    }

    .avatar-container {
        position: relative;
        width: 60px;
        height: 60px;
        margin: 60px 0 30px;

        .edit-overlay {
            position: absolute;
        }
    }

    .profile-form {
        width: -webkit-fill-available;
        max-width: 400px;

        .save-btn {
            display: block;
            margin: 0 auto;
        }
    }
}

.profile-modal {
    .modal-title {
        text-align: center;

        .title {
            font-weight: bold;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: center;

        button:not(:last-child) {
            margin-right: 20px;
        }
    }
}
