@import '~styles/theme.scss';

.sidebar {
    display: flex;
    flex-basis: 60px;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    height: 100vh;
    background-color: rgb(53, 73, 94);

    &-avatar {
        margin: 20px 0 40px;
    }

    .menu-item {
        margin-bottom: 20px;
        color: gray;
        font-size: 24px;
        cursor: pointer;

        &:hover:not(.menu-item-activated) {
            color: white;
        }

        &-activated {
            color: $primary-color;
        }
    }
}
