.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 100vh;
    background-color: rgb(38, 41, 45);

    .avatar {
        margin: 20px 0;
    }
}
