@import '~styles/theme.scss';

.add-contacts-sub-page {
    flex: 1;
    text-align: center;

    .search-box {
        display: block;
        max-width: 460px;
        height: 36px;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 10px;
    }

    .search-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 400px;
        margin: 0 auto;
        margin-top: 40px;

        .name {
            margin-bottom: 20px;
        }

        .operation {
            margin-top: 10px;
            cursor: pointer;
        }
    }

    .group-info {
        .count {
            &-icon {
                margin-right: 2px;
                color: $primary-color;
                font-size: 16px;
            }
        }
    }
}
