@import '~styles/reset.scss';

.app {
    display: flex;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, Arial, sans-serif;

    main {
        flex: 1;
    }
}
